
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: end;
    background-color: #41a6f6;
}

.aquarium-view {
    background-repeat: repeat-x;
    width: 100%;
    height: 360px;
    position: relative;
}

#aquariumCanvas {
    position: absolute;
}

.fish {
    position: absolute;
}