
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: end;
}

.aquarium-view {
    background-repeat: repeat-x;
    width: 100%;
    height: 360px;
}